<%- include('./layout/head') %>
    <h1>Listagem</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% for (let k in contacts) { %>
        <tr>
          <td><%= contacts[k].name %></td>
          <td><%= contacts[k].email %></td>
          <td>
            <a href="/view/<%= k %>" class="btn">ver</a>
          </td>
        </tr>
      <% }; %>
      </tbody>
    </table>
    <p><a href="/new" class="btn">Novo</a></p>
<%- include('./layout/footer') %>

